div.modui-calendar-pane {
	padding: 2px;
	border: 1px solid #aaa;
	background-color: #FFF;
	display: inline-block;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;

	div.modui-month {
		//TODO: drop shadow
		margin: 10px 0 0 0;

		&:first-child{
			margin: 0;
			nav {
				background-color:#87CEFF;
				background: -webkit-gradient(linear, left top, left bottom, from(#87CEFF), to(#6cb5e3));
				background: -webkit-linear-gradient(top, #87CEFF, #6cb5e3);
				background: -moz-linear-gradient(top, #87CEFF, #6cb5e3);
				background: -ms-linear-gradient(top, #87CEFF, #6cb5e3);
				background: -o-linear-gradient(top, #87CEFF, #6cb5e3);
				color:#fff;
				text-shadow: 0 -1px 0 rgba(68, 68, 68, 0.4);
				margin: 0;
			}
		}
	}

	a {
		cursor:pointer;
	}

	table {
		margin:0;
		border-width:0;
		width:auto;
	}

	nav {
		overflow: hidden;
		padding: 5px;
		border-bottom:1px solid #fff;
		border-radius: 3px;
		background-color: #fff;
		border: 1px solid #87CEFF;
		color:#87CEFF;
		margin: 0 0 5px 0;
	}

	h6 {
		text-align:center;
		line-height: 19px;
		padding:0;
		margin:0;
		font-size: 13px;
	}

	th {
		padding: 0;
		cursor: default;
		span {
			display: block;
			color: #666;
			font-weight: bold;
			font-size: 11px;
			padding: 5px;
		}
	}

	td {
		background: #f9f9f9;
		padding: 0;
		border: 1px solid #ddd;
		border-top-color: #eee;
		border-bottom-color: #ccc;

		a {
			display:block;
			padding:5px;
			text-decoration:none;
			text-align:center;
			font-size:12px;
		}
	}

	td.day {
		color: #777;
		transition: border-radius .15s, box-shadow .15s, background-color .15s;
		width: 26px;
		height: 26px;

		&:hover {
			color: #404E67;
		}
	}

	td.selected-day {
		background-color: #FBFCF1;
		color: #404E67;
		box-shadow: 0px 0px 2px 3px rgba(85, 103, 199, 0.4);
		border-radius: 14px;
		border-color: rgba(0, 110, 255, 0.56);
		position: relative;
	}

	td.out-of-range {
		color: #777;

		a {
			cursor: default;
		}
	}

	td.blank {
		background-color: transparent;
		border: none;
		a {
			cursor: default;
		}
	}

	.nav-btn {
		display: block;
		line-height: 19px;
		width: 18px;
		height: 18px;
		color: #ECECFA;
		text-decoration: none;
		font-size: 14px;
		text-align: center;
		text-shadow: none;

		&:hover {
			color: #F0F0FA;
		}

		&:not(.disabled):active {
			transform: translate(0,1px);
		}

		&.disabled:hover {
			color: #87CEFF;
		}

		&.prev-btn {
			float: left;
		}

		&.next-btn {
			float: right;
		}
	}

	.disabled {
		opacity: 0.5;
	}
}
