.modui-calendar{
  padding: 2px;
  border: 1px solid #aaa;
  background-color: #FFF;
  display: inline-block;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;

  .modui-month {
    //TODO: drop shadow
    margin: 10px 0 0 0;
    &:first-child{
      margin: 0;
      nav {
        background-color:#87CEFF;
        background: -webkit-gradient(linear, left top, left bottom, from(#87CEFF), to(#6cb5e3));
        background: -webkit-linear-gradient(top, #87CEFF, #6cb5e3);
        background: -moz-linear-gradient(top, #87CEFF, #6cb5e3);
        background: -ms-linear-gradient(top, #87CEFF, #6cb5e3);
        background: -o-linear-gradient(top, #87CEFF, #6cb5e3);
        color:#fff;
        text-shadow: 0 -1px 0 rgba(68, 68, 68, 0.4);
        margin: 0;
      }
    }
  }

  a{
    cursor:pointer;
  }

  table{
    margin:0;
    border-width:0;
    width:auto;
  }

  nav{
    overflow: hidden;
    padding: 5px;
    border-bottom:1px solid #fff;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #87CEFF;
    color:#87CEFF;
    margin: 0 0 5px 0;
  }

  h6 {
    text-align:center;
    line-height: 19px;
    padding:0;
    margin:0;
    font-size: 13px;
  }

  th {
    padding: 0;
    cursor: default;
    span {
      display: block;
      color: #666;
      font-weight: bold;
      font-size: 11px;
      padding: 5px;
    }
  }

  td {
    background: #f9f9f9;
    padding: 0;
    border: 1px solid #ddd;

    a{
      display:block;
      padding:5px;
      text-decoration:none;
      text-align:center;
      font-size:12px;
    }
  }

  td.day {
    color: #777;
    &:hover{
      background-color: #87CEFF;
      color: #fff;
    }
  }

  td.today{
    color: #333;
    font-weight: bold;
    &:hover{
      background-color: #87CEFF;
      color: #fff;
    }
  }

  td.selected-day{
    background-color:#999;
    font-weight: bold;
    color: #fff;
    &:hover {
      background-color: #999;
    }
  }

  td.out-of-range{
    color: #777;
    &:hover{
      color: #777;
      background-color: #f9f9f9;
    }
    a {
      cursor: default;
    }
  }

  td.blank {
    background-color: transparent;
    border: none;
    a {
      cursor: default;
    }
  }

  .nav-btn {
    display: block;
    line-height: 19px;
    width: 18px;
    height: 18px;
    color: #87CEFF;
    text-decoration: none;
    font-size: 8px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;

    &:hover{
      color: #666;
    }

    &.disabled:hover{
      color: #87CEFF;
    }
  }
  .prev-btn {
    @extend .nav-btn;
    float: left;
  }
  .next-btn{
    @extend .nav-btn;
    float: right;
  }
  .disabled {
    opacity: 0.5;
  }
}